---
import { Image } from 'astro:assets';

interface Props {
  style: 'left' | 'right';
  image: ImageMetadata;
  title: string;
  alt: string;
  href?: string;
}

const { style, image, title, href="#", alt} = Astro.props
---

<div class:list={["project", style]}>
  <div class="content">
    <a href={href} data-cursor-big="">
      <h3>{title}</h3>
    </a>
    <slot></slot>
  </div>
  <div class="image">
    <Image src={image} alt={alt} width={1205} height={652} quality={100} />
    <a href={href} class="button" data-cursor-big="">
      Se prosjektet -->
    </a>
  </div>
</div>

<style>
  .project.left {
    flex-direction: row-reverse;
  }

  .project {
    display: flex;
    align-items: flex-end;
    gap: 2rem;  
  }

  .image {
    flex: 1;
    flex-grow: 2;
    position: relative;
    overflow: hidden;
    border-radius: var(--br-lg);
  }

  .image img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    transition: scale 1000ms ease;
  }
  
  .project:has(.content a:hover, .content a:focus-visible) img {
    scale: 1.05;
  }

  .image:has(a:hover, a:focus-visible) img {
    scale: 1.05;
  }

  .left .image a{
    left: unset;
    right: 1rem;
  }

  .image a {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    border-radius: 2rem;
    height: 4rem;
    font-size: 1.25rem;
    color: black;
    background-color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 2.5rem;
    gap: 1rem;
  }
  
  .content {
    flex: 1;
    font-size: 1.25rem;
    line-height: 150%;
    width: 100%;
  }
  .content a {
    color: black;
    text-decoration: none;
  }
  .content h3 {
    font-size: 2.5rem;
    line-height: 100%;
    font-weight: normal;
    margin: 0;
    margin-bottom: 1rem;
    text-transform: uppercase;
    width: fit-content;
    position: relative;
  }

  .content h3::after {
    content: '';
    position: absolute;
    background-color: black;
    bottom: -4px;
    left: 0;
    right: 0;
    height: 2px;
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 500ms;
  }

  .content h3:hover::after {
    transform-origin: right;
    transform: scaleX(0);
  }

  @media screen and (max-width: 1000px) {
    .project.left,
    .project.right {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .content {
      max-width: 50ch;
      margin-bottom: 1.5rem;
    }

    .left .image a, 
    .right .image a {
      top: 1rem;
      left: 1rem;
      bottom: unset;
      right: unset;
    }
  }
  @media screen and (max-width: 500px) {
    .content {
      font-size: 1rem;
    }
    .content h3 {
      font-size: 1.5rem;
    }

    .image {
      overflow: visible;
    }

    .image img {
      border-radius: var(--br-md);
      scale: 1 !important;
    }
    
    .left .image a,
    .right .image a {
      top: 0;
      left: 50%;
      outline: 1px solid #000;
      width: max-content;
      transform: translate(-50%, -50%);
      height: auto;
      padding: 0.5em 1.25rem;
      font-size: 1rem;
    }
    
    .image a svg {
      display: none;
    }
  }
</style>